ul {
  list-style-type: none;
  margin: 0;
  padding-left: 100px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: large;
  transition: border-color 0.2s, color 0.2s;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  display: inline-block;
}

li a:hover {
  border-bottom: 2px solid rgb(0, 255, 0);
  padding-bottom: 5px;
  display: inline-block;
  color: rgb(0, 255, 0);
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
}

.cart {
  position: absolute;
  top: 30px;
  left: 90%;
}